.jour{
display: flex;
flex-direction: column;
width: 100%;
gap: 10px;
align-items: center;
justify-content: center;
}

.dateJour{
color: white;

}


.listJour{
display: flex;
flex-direction: column;
width: 100%;
gap: 5px;

}