.cardConcert {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    margin: 0px auto;
    max-height: 200px;
    -webkit-box-shadow: 5px 8px 25px 0px rgba(255, 255, 255, 0.9);
    box-shadow: 5px 8px 25px 0px rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    background-color: transparent;

}

.cardConcert:hover {

    cursor: pointer;

}



.imgConcert {

    grid-column: 1;
    grid-row: 1;
    border-radius: 5px;


}

.imgConcert img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;

}


.textConcert {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr 0.5fr;
}

.textConcert h3 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.textConcert p {
    color: white;
    font-size: 1rem;
    margin-bottom: 10px;
    padding: 0px;
}

.textConcertInfos {
    font-weight: bolder;
}

.headerCardConcert{

background-color: black;
color: white;
justify-self: right;
padding: 5px;
display: flex;
justify-content: center ;
align-items: center;

}

.headerCardConcert h3{
    margin: 0;
}

.infosCardConcert{

background-color: black;
align-self: center;
justify-self:left;
font-size: 0.9rem;
padding: 5px;

}

.infosCardConcert p{
 font-size: 0.9rem;
 margin: 0;
 
 }


.footerCardConcert
{
background-color: rgba(255, 255, 255, 0.7);


}

.footerCardConcert p{
    color : black;
}

@media screen and (min-width: 768px) {




    .textConcert {

        flex-direction: column;


    }

    .cardConcert {
        height: 400px;
    }

    .imgConcert img {


        object-fit: cover;
        height: 400px;



    }


}

@media screen and (min-width: 1024px) {





}