.mainMentions {

width: 95%;
margin: 15px auto;
padding: 20px;
color: white;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
gap: 10px;


}

.mainMentions h2, p {

    margin: 10px;
    padding: 10px;
    color: white;
}

.disclaimer{

background-color: white;
color: black;

}

.mentions h2, p {

    color: white;
}



.disclaimer h2 {

color: red;
 
}

.disclaimer p{
    
        color: black;
}