.progWrapper {

display: flex;
flex-direction: column;
width: 100%;


}

.joursWrapper {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 10px;
justify-items: center;


}


/******Barre outil******/
.progTools {
display: flex ;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 95%;
margin: 15px auto;
padding: 20px;
color: black;


}    

.progTools select {

color: black!important;
font-size: 1rem;
padding: 10px;
border-radius: 5px;
border: none;


}

.progTools select option {
color: black!important;
}