.faqItemList,
summary {
  color: white;
  gap: 10px;
}

.faqItemWrapper,
.faqItemList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}




.faqItemList {
  margin: 15px auto;
}


details {
  background-color: black;
  padding: 16px;
}

summary {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  width: 100%;

}

summary:hover {
  background-color: white;
  color: black;
}

summary:hover > svg {
  fill: black;
}


summary svg {
  width: 20px;
  fill: white;
}