.burgerMenu {
    display: block;
    position: absolute;
    top: 11px;
    right: 10px;
    z-index: 300;

}

header{
height: 100px;
width: 100%;
position: fixed;
top: 0;

}

.burgerMenu svg {
    fill: white;
}



.videoWrapper {
    width: 100%;
    max-height: 600px;
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

}

#headerVideo {
    position: relative;
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    object-position: top;
    grid-column: 1;
    grid-row: 1;
    z-index: 50;



}

#headerImg {
    position: relative;
    width: 100%;
    max-height: 100px;
    object-fit: cover;
    object-position: top;
    grid-column: 1;
    grid-row: 1;
    z-index: 50;


}

#headerTitle {

    grid-column: 1;
    grid-row: 1;
    z-index: 100;
    position: absolute;
    top: 2%;
    left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 80%;



}

#headerTitle h1 {

    color: white;
    font-size: 1.5em;
    text-align: center;

}

#headerTitle h1:hover {
    cursor: pointer;


}

#headerMusic {

    grid-column: 1;
    grid-row: 1;
    z-index: 110;
    width: 100%;
    height: 10%;
    position: relative;


}

#headerMusic img {
    width: 100%;
    object-fit: cover;
}


#mainNav {
    position: absolute;

    z-index: 200;

    transition: left 1s;
    margin-right: 40px;
    width: 100%;


}

.showNav {
    left: 0;
    height: auto;
    top: 0;
}

.hideNav {
    top: -120vh;
    height: 0;
}

#mainNav ul {
    width: 100%;
    /*max-height: 600px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 100vh;
    font-size: 1.5rem;

}

#mainNav ul li a {
    color: white;
    font-weight: bolder;

}

#mainNav ul li:hover {
    cursor: pointer;
    border-bottom: 2px solid white;


}

#closeMainNav {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;


}

#ctaBilleterie {

    
    display: none;
}



@media screen and (min-width: 768px) {

header{
    position: relative;
    height: unset ;
    top: unset;
}

    .burgerMenu {
        display: none;

    }


    #mainNav {
        top: unset;
        display: flex;
        position: static;
        grid-column: 1;
        grid-row: 1;
        z-index: 100;
        height: 80px;
        width: 100%;
        padding: 20px;
        font-size: 1.2rem;
        font-weight: bolder;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #mainNav ul {
        display: flex;
        flex-direction: row;
        background-color: transparent;
        height: 80px;
        font-size: 1.2rem;
        
    }

    .fixedNav{
        position: fixed;
        background-color: black;
        
    }

    #closeMainNav {

        display: none;
    }


    #headerTitle {

        top: 40%;
        left: 65%;
        width: auto;



    }

    #headerTitle h1 {


        font-size: 3em;
        ;

    }

    #headerImg {

        max-height: 600px;

    }

    #ctaBilleterie {

    padding: 25px;
    background: none;
    border: none;
    border-radius: 15px;
    font-size: 1.5rem;
    font-weight: bolder;
    border: 2px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ctaBilleterie:hover {
    cursor: pointer;
}


}