.live-concert-item{

width: 100%;
display: flex;
padding: 5px;
align-items: center;
justify-content: flex-start;
gap: 10px;

}

.live-concert-item span{
    font-size: 0.9rem;
    font-weight: 600;
}

.live-concert-item svg{
    height: 15px;
    width: 15px;
    fill: red;
}