
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');





main{

margin-top: 0;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
} 

body{
max-width: 1440px;
margin: 0 auto;
background-color: black;

}

.appSelect{
font-size: 1rem;
padding: 10px;
border-radius: 5px;
border: none;
  }

.appInputText{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  }

  .appInputText:focus{
    border: 1px solid red;
  }

/****Profil utilisateur****/

#userProfil
{
  
  display: flex;
  flex-direction: column; 
margin: 20px auto;
  padding: 20px;
width: 80%;
gap: 20px;
border-radius: 10px;
color : white;

}



#userProfil section{
  display: flex;
  flex-direction: column;
  gap: 10px;
}



#updateUserDataForm{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#profilToolBar{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#updateUserPreferencesForm, #welcomeUser, #deleteAccountForm{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profilFormGroup{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  
 
}

/**Page partenaires**/

#mainPartner{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px auto;
  width: 80%;
  color: white;
 
}


.partnerTools{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partnerList{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


/*Formulaire de Login*/

#mainRegister{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px auto;
  width: 80%;
  color: white;
  min-height: 80vh;
}


.login{

width: 40%;
margin: 100px auto;
display: flex;
flex-direction: column;
height: auto;
padding: 40px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
color:white;

}

.login p, .login a, .register a{
  color : white;
  margin: 15px;
}

.login a, .register a{
  text-decoration: underline;
}

.register{

display: flex;
flex-direction: column-reverse;
padding: 40px;
height: 100%;

 }

#loginForm, #registerForm{

display: flex;
flex-direction: column;
gap:20px;
width: 100%;


}

#registerForm{

width: 100%;
padding: 15px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;

}

.registerInfos{

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;
width: 100%;
color : white;
padding: 15px; 


}

.registerInfos p{
  color: white;
  text-align: right;
  font-size: 2rem;
}

.form-group{
display: flex;
flex-direction: column;
gap: 10px;
}

.error{
color: red;
}



.form-group button{
padding: 10px;
width: max-content;
border-radius: 5px;



}

.form-group button:hover{
background-color: white;
color: black;
cursor: pointer;
}

#newsletter, #eventNotification{

border-radius: 5px;
width: 50px;
accent-color: white;

}



.form-group input[type="text"], .form-group input[type="password"], .form-group input[type="email"]{

  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  

}


/**Eye eye slash sur les input**/	

.form-group-password {
    position: relative;
}

.form-group-password input {
    width: 100%;
    padding: 0.5rem;
    padding-right: 2.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group-password .password-toggle {
    position: absolute;
    top: calc(50% + 14px);
    right: 0.5rem;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group-password .password-toggle svg {
    width: 20px;
    height: 20px;
    stroke: #666;
    transition: stroke 0.3s ease;
}

.form-group-password .password-toggle:hover svg {
    stroke: #333;
}



/*Page d'accueil*/

.tuilesWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 95%;
    margin: 15px auto;
}

.homemap {

    width: 95%;
    margin: 15px auto;


}

.actu{
    padding-top: 100px;

}

@media screen and (min-width: 768px) {

    .homemap {

        width: 50%;
        margin: 15px auto;

    }

    .tuilesWrapper {
        display: grid;
grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
        gap: 35px;
        width: 95%;
        margin: 30px auto;
    }

    .actu{

padding-top: 40px;

    }


  /**Page register**/

  .register{
    flex-direction: row;
  }

  .registerInfos, .registerForm{
    width: 50%;
  }







}


/*Page Mentions légales*/

.mainMentions {

width: 95%;
margin: 15px auto;
padding: 20px;
color: white;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
gap: 10px;


}

.mainMentions h2, .mainMentions p {

    margin: 10px;
    padding: 10px;
    color: white;
}

.disclaimer{

background-color: white;
color: black;

}

.mentions h2, .mentions p {

    color: white;
}



.disclaimer h2 {

color: red;
 
}

.disclaimer p{
    
        color: black;
}

/**Carte**/

.mainFullMap{

display: flex;
flex-direction: column;
width: 100%;
margin: 0 auto;




}


/*Page FAQ*/

.mainFaq{

width: 95%;
margin: 15px auto;
padding: 20px;
min-height: 600px;
background-color: black;

}

.mainFaq h1{

    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    margin: 20px auto;

}

.mainFaq a  .tuileLink{
    width: 95%;
    margin: 10px auto;

}

/**Page 404**/

#mainPageNotFound{


background-color: white;
width: 100%;
height: 100vh;

}




@media screen and (min-width: 768px){

.mainFaq a  .tuileLink{
    width: 35%;
    margin: 10px auto;
    

}
    
}

.mainFaq a .tuileLink  div h2
{
font-size: 1em;

}

.moreInfos{

width: 95%;
margin: 10px auto;
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10px;


}

.moreInfos p{

    text-align: center;
    color: white;
  

}




@media screen and (max-width: 768px){
  .login, .register{
 
    width: 95%;
    margin: 150px auto;
    height: auto;
 
 
  }

.partnerTools{

margin-top: 100px;
flex-direction: column;
gap: 20px;

}

  
}