
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');





main{

margin-top: 0;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
} 

body{
max-width: 1440px;
margin: 0 auto;
background-color: black;

}

.appSelect{
font-size: 1rem;
padding: 10px;
border-radius: 5px;
border: none;
  }

/****Profil utilisateur****/

#userProfil
{
  color: black;
  display: flex;
  flex-direction: column;
background-color: white; 
margin: 20px auto;
  padding: 20px;
width: 80%;
gap: 20px;

}

#userProfil section{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#userProfil p{
 color: black;
}

#profilToolBar{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#updateUserPreferencesForm{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profilFormGroup{
  display: flex;
  justify-content: space-between;
  
 
}

/**Page partenaires**/

#mainPartner{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px auto;
  width: 80%;
  color: white;
 
}


.partnerTools{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partnerList{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


/*Formulaire de Login*/

.login, .register{

width: 40%;
margin: 20px auto;
display: flex;
flex-direction: column;

height: auto;
padding: 40px;
background-color: white;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
color: black;
}

#loginForm, #registerForm{

display: flex;
flex-direction: column;
gap:20px;

}

.form-group{
display: flex;
flex-direction: column;
}

.login p, .register p{
color: black;
}

/*Page d'accueil*/

.tuilesWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 95%;
    margin: 15px auto;
}

.homemap {

    width: 95%;
    margin: 15px auto;


}

.actu{
    padding-top: 100px;

}

@media screen and (min-width: 768px) {

    .homemap {

        width: 50%;
        margin: 15px auto;

    }

    .tuilesWrapper {
        display: grid;
grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
        gap: 10px;
        width: 95%;
        margin: 15px auto;
    }

    .actu{

padding-top: 40px;

    }



}


/*Page Mentions légales*/

.mainMentions {

width: 95%;
margin: 15px auto;
padding: 20px;
color: white;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
gap: 10px;


}

.mainMentions h2, p {

    margin: 10px;
    padding: 10px;
    color: white;
}

.disclaimer{

background-color: white;
color: black;

}

.mentions h2, p {

    color: white;
}



.disclaimer h2 {

color: red;
 
}

.disclaimer p{
    
        color: black;
}

/**Carte**/

.mainFullMap{

display: flex;
flex-direction: column;
width: 100%;
margin: 0 auto;




}


/*Page FAQ*/

.mainFaq{

width: 95%;
margin: 15px auto;
padding: 20px;
color: black;
min-height: 600px;
background-color: black;

}

.mainFaq h1{

    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    margin: 20px auto;

}

.mainFaq a  .tuileLink{
    width: 95%;
    margin: 10px auto;

}




@media screen and (min-width: 768px){

.mainFaq a  .tuileLink{
    width: 35%;
    margin: 10px auto;
    

}
    
}

.mainFaq a .tuileLink  div h2
{
font-size: 1em;

}

.moreInfos{

width: 95%;
margin: 10px auto;
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10px;


}

.moreInfos p{

    text-align: center;
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;

}




@media screen and (max-width: 768px){
  .login, .register{
 
    width: 80%;
 
 
  }

.partnerTools{

margin-top: 100px;
flex-direction: column;
gap: 20px;

}

  
}