#map{

width: 95%;
margin: 15px auto;
height: 100%;
min-height: 800px;


}

.mapTools select{
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: black;
}

.mapTools select, .mapTools select option{
color: black;

}

.mapTools{
    color: white;
    width: 95%;
    margin: 15px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

/* HTML marker styles */
.customMarker {
  background-color : white;
  border-radius: 8px;
  color: black;
  font-size: 1rem;
  font-weight: bolder;
  padding: 10px 15px;
  position: relative;
  display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
}

.customMarker img {
 width: 15px;
 height: 15px;

}

.infosMarker{
background-color: white ;
z-index: 1000;

}



.customMarker::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid black;
  color: inherit;
}

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}
.custom-map-control-button:hover {
  background: rgb(235, 235, 235);
}

.mapWrapper h2{
    color: white;
    margin: 15px auto;
    margin-left: 15px;
}

.maps-modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.maps-modal-content a{
    
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.maps-modal-content span svg{
    fill: white;
    width: 20px;
    height: 20px;
}

.maps-modal-content span svg:hover{
    fill: red;
    cursor: pointer;
} 

.lienNavig{
    text-decoration: underline;
    color: white;
    font-weight: bold;
    padding: 20px;
    text-align: right;
    font-size: 1rem;
    margin-bottom: 20px;
    }