.mainFaq{

width: 95%;
margin: 15px auto;
padding: 20px;
color: black;
min-height: 600px;
background-color: black;

}

.mainFaq h1{

    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    margin: 20px auto;

}

.mainFaq a  .tuileLink{
    width: 95%;
    margin: 10px auto;

}


@media screen and (min-width: 768px){

.mainFaq a  .tuileLink{
    width: 35%;
    margin: 10px auto;
    

}
    
}

.mainFaq a .tuileLink  div h2
{
font-size: 1em;

}

.moreInfos{

width: 95%;
margin: 10px auto;
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10px;


}

.moreInfos p{

    text-align: center;
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;

}


